@using Floreview.Resources
@using Floreview.Utils
@model Floreview.ViewModels.DetailBlogVM

@{
    var className = "small";
    if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        className = "admin";
    }

    String content = LanguageUtility.GetLanguageValue(Request, Model.Blog.ContentNL, Model.Blog.ContentEN, Model.Blog.ContentFR, Model.Blog.ContentDE);
}

<header class="@className">
    <nav>
        <ul class="content-container">
            <li>
                @Html.ActionLink(Global.Menu_Home, "Index", "Home")
            </li>
            <li>
                @Html.ActionLink(Global.Menu_Blog, "Index", "Blog")
            </li>
            <li>
                @Html.ActionLink(Global.Menu_Floreview, "Index", "Home")
            </li>
            <li>
                @Html.ActionLink(Global.Menu_Contact, "Index", "Home")
            </li>
            <li>
                @Html.Partial("_LoginPartial")
            </li>
        </ul>
    </nav>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <section class="menu-admin">
            <ul class="content-container">
                <li>
                    @Html.ActionLink(Global.Menu_Admin_Stores, "Store", "Manage")
                </li>
                <li>
                    @Html.ActionLink(Global.Menu_Admin_Blogs, "Blog", "Manage")
                </li>
                <li>
                    @Html.ActionLink(Global.Menu_Admin_BlogCategory, "BlogCategory", "Manage")
                </li>
            </ul>
        </section>
    }
</header>

<section class="blog-detail-container">
    <div class="blog-left">        
        @Html.Raw(content)
    </div>
    <div class="blog-right">

    </div>
</section>