@using Floreview.Resources
@model Floreview.ViewModels.CMS.BlogVM

@{
    var layout = Model.BlogElements.Find(i => i.ID.Equals(1)).Layout;
}

<header class="admin">
    <nav>
        <ul class="content-container">
            <li>
                @Html.ActionLink(Global.Menu_Home, "Index", "Home")
            </li>
            <li>
                @Html.ActionLink(Global.Menu_Blog, "Index", "Blog")
            </li>
            <li>
                @Html.ActionLink(Global.Menu_Floreview, "Index", "Home")
            </li>
            <li>
                @Html.ActionLink(Global.Menu_Contact, "Index", "Home")
            </li>
            <li>
                @Html.Partial("_LoginPartial")
            </li>
        </ul>
    </nav>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <section class="menu-admin">
            <ul class="content-container">
                <li>
                    @Html.ActionLink(Global.Menu_Admin_Stores, "Store", "Manage")
                </li>
                <li>
                    @Html.ActionLink(Global.Menu_Admin_Blogs, "Blog", "Manage")
                </li>
                <li>
                    @Html.ActionLink(Global.Menu_Admin_BlogCategory, "BlogCategory", "Manage")
                </li>
            </ul>
        </section>
    }
</header>

<section class="manage-addblog-elements">
    <ul>
        @{
            foreach (var blogElement in Model.BlogElements)
            {
                <li id="blog-element-@blogElement.ID">
                    @Html.Raw(blogElement.SVG)
                    <p>@blogElement.Name</p>
                </li>
            }
        }
    </ul>
</section>

<section class="manage-addblog-crucial">
    <h2>@Global.Manage_AddBlog_BasicInformation</h2>

    @using (Html.BeginForm("AddBlog", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", @id = "manage-addblog-form" }))
    {
        @Html.AntiForgeryToken();

        <div>
            @Html.TextBoxFor(model => model.Blog.TitleNL, new { @class = "manage-addblog-title blog-nl", @placeholder = Global.Manage_AddBlog_Title_NL, @autocomplete = "off" })
            @Html.TextBoxFor(model => model.Blog.TitleEN, new { @class = "manage-addblog-title blog-en", @placeholder = Global.Manage_AddBlog_Title_EN, @autocomplete = "off" })
            @Html.TextBoxFor(model => model.Blog.TitleFR, new { @class = "manage-addblog-title blog-fr", @placeholder = Global.Manage_AddBlog_Title_FR, @autocomplete = "off" })
            @Html.TextBoxFor(model => model.Blog.TitleDE, new { @class = "manage-addblog-title blog-de", @placeholder = Global.Manage_AddBlog_Title_DE, @autocomplete = "off" })

            @Html.TextAreaFor(model => model.Blog.TeaserNL, new { @placeholder = Global.Manage_AddBlog_Teaser_NL, @class = "blog-nl" })
            @Html.TextAreaFor(model => model.Blog.TeaserEN, new { @placeholder = Global.Manage_AddBlog_Teaser_EN, @class = "blog-en" })
            @Html.TextAreaFor(model => model.Blog.TeaserFR, new { @placeholder = Global.Manage_AddBlog_Teaser_FR, @class = "blog-fr" })
            @Html.TextAreaFor(model => model.Blog.TeaserDE, new { @placeholder = Global.Manage_AddBlog_Teaser_DE, @class = "blog-de" })

            @Html.TextBoxFor(model => model.Blog.PublishDate, new { @placeholder = Global.Manage_AddBlog_PublishDate_Placeholder, @value = Model.Blog.PublishDate, @autocomplete = "off" })

            @Html.DropDownList("SelectedBlogCategoryID", Model.BlogCategories)

            @Html.HiddenFor(model => model.Blog.ContentNL, new { @id = "manage-addblog-content-nl" })
            @Html.HiddenFor(model => model.Blog.ContentEN, new { @id = "manage-addblog-content-en" })
            @Html.HiddenFor(model => model.Blog.ContentFR, new { @id = "manage-addblog-content-fr" })
            @Html.HiddenFor(model => model.Blog.ContentDE, new { @id = "manage-addblog-content-de" })
        </div>
        <div>
            <ul>
                <li id="blog-nl">NL</li>
                <li id="blog-en">EN</li>
                <li id="blog-fr">FR</li>
                <li id="blog-de">DE</li>
            </ul>

            <img src="http://floreview.blob.core.windows.net/blog/blog_avatar_default.jpg" id="manage-addblog-avatar-preview" alt="Blog avatar preview" />

            <input type="file" id="manage-addblog-avatar" name="BlogAvatar" accept="image/*" />

            <input type="submit" id="manage-addblog-submit" value="@Global.Manage_AddBlog_Submit" />
        </div>
    }
</section>

<section class="manage-addblog-container"></section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var inputs = document.querySelectorAll('#manage-addblog-form > div input[type="text"]'),
            textareas = document.querySelectorAll('#manage-addblog-form > div textarea'),
            container = document.querySelector('section.manage-addblog-container');

        switchBlogCrucials('nl');

        document.getElementById('manage-addblog-avatar').addEventListener('change', function () {
            var url = window.URL.createObjectURL(this.files[0]);
            document.getElementById('manage-addblog-avatar-preview').src = url;
        });

        document.getElementById('manage-addblog-form').addEventListener('submit', function (e) {
            e.preventDefault();
            document.getElementById('manage-addblog-submit').disabled = true;
            parseBlogElements();
            this.submit();
        });

        document.getElementById('blog-nl').addEventListener('click', function () {
            switchBlogCrucials('nl');
        });

        document.getElementById('blog-en').addEventListener('click', function () {
            switchBlogCrucials('en');
        });

        document.getElementById('blog-fr').addEventListener('click', function () {
            switchBlogCrucials('fr');
        });

        document.getElementById('blog-de').addEventListener('click', function () {
            switchBlogCrucials('de');
        });

        document.getElementById('blog-element-1').addEventListener('click', function () {
            appendBlogElementToContainer(1);
        });

        document.getElementById('blog-element-2').addEventListener('click', function () {
            appendBlogElementToContainer(2);
        });


        function appendBlogElementToContainer(elementID) {
            var content = '',
                element = document.createElement('div');

            switch (elementID) {
                case 1:
                    // plain text
                    content = '@Html.Raw(Model.BlogElements.Find(i => i.ID.Equals(1)).Layout)';
                    element.classList.add('blog-element-plain-text');
                    break;
                case 2:
                    // enumeration
                    content = '@Html.Raw(Model.BlogElements.Find(i => i.ID.Equals(2)).Layout)';
                    element.classList.add('blog-element-enumeration');
                    break;
            }

            element.innerHTML = content;
            element.classList.add('blog-element');

            container.appendChild(element);

            setBlogElementMenu();
        }

        function parseBlogElements() {
            var root = '<section class="blog-detail-container"><h2>{0}</h2><p><span>{1} </span>{2}<span> | {3} </span><a href="/Blog/Index?author={4}">{5} {6}</a></p>',
                elementNL = root, elementEN = root, elementFR = root, elementDE = root,
                enumCounter = 0;

            for (var i = 0; i < container.childNodes.length; i++) {
                blogElement = container.childNodes[i];

                if (blogElement.classList.contains('blog-element-plain-text')) {
                    var textareaNL = blogElement.querySelector('.blog-element-plain-text-nl'),
                        textareaEN = blogElement.querySelector('.blog-element-plain-text-en'),
                        textareaFR = blogElement.querySelector('.blog-element-plain-text-fr'),
                        textareaDE = blogElement.querySelector('.blog-element-plain-text-de');

                    elementNL += '<p class="blog-plain-text">' + textareaNL.value + '</p>';
                    elementEN += '<p class="blog-plain-text">' + textareaEN.value + '</p>';
                    elementFR += '<p class="blog-plain-text">' + textareaFR.value + '</p>';
                    elementDE += '<p class="blog-plain-text">' + textareaDE.value + '</p>';
                }
                else if (blogElement.classList.contains('blog-element-enumeration')) {
                    var enumNL = blogElement.querySelector('.blog-element-enumeration-nl'),
                        enumEN = blogElement.querySelector('.blog-element-enumeration-en'),
                        enumFR = blogElement.querySelector('.blog-element-enumeration-fr'),
                        enumDE = blogElement.querySelector('.blog-element-enumeration-de');

                    enumCounter++;

                    elementNL += '<p class="blog-enumeration"><span>' + enumCounter + '.</span>' + enumNL.value + '</p>';
                    elementEN += '<p class="blog-enumeration"><span>' + enumCounter + '.</span>' + enumEN.value + '</p>';
                    elementFR += '<p class="blog-enumeration"><span>' + enumCounter + '.</span>' + enumFR.value + '</p>';
                    elementDE += '<p class="blog-enumeration"><span>' + enumCounter + '.</span>' + enumDE.value + '</p>';
                }
            }

            elementNL += '</section>';
            elementEN += '</section>';
            elementFR += '</section>';
            elementDE += '</section>';

            document.getElementById('manage-addblog-content-nl').value = elementNL;
            document.getElementById('manage-addblog-content-en').value = elementEN;
            document.getElementById('manage-addblog-content-fr').value = elementFR;
            document.getElementById('manage-addblog-content-de').value = elementDE;
        }

        function handleMinimizeEvent() {
            var minimizeButtons = document.querySelectorAll('li.blog-element-min');

            for (var i = 0; i < minimizeButtons.length; i++) {
                minimizeButtons[i].addEventListener('click', function () {
                    this.parentNode.parentNode.classList.add('minimized');
                });
            }
        }

        function handleMaximizeEvent() {
            var maximizeButtons = document.querySelectorAll('li.blog-element-max');

            for (var i = 0; i < maximizeButtons.length; i++) {
                maximizeButtons[i].addEventListener('click', function () {
                    this.parentNode.parentNode.classList.remove('minimized');
                });
            }
        }

        function handleDeleteEvent() {
            var closeButtons = document.querySelectorAll('li.blog-element-del');

            for (var i = 0; i < closeButtons.length; i++) {
                closeButtons[i].addEventListener('click', function () {
                    this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);
                });
            }
        }

        function setBlogElementMenu() {
            handleMinimizeEvent();
            handleMaximizeEvent();
            handleDeleteEvent();
        }

        function switchBlogCrucials(lang) {
            var selector = 'blog-' + lang;

            for (var i = 0; i < textareas.length; i++) {
                inputs[i].classList.add('blog-crucial-hidden');

                textareas[i].classList.add('blog-crucial-hidden');

                if (inputs[i].classList.contains('blog-' + lang)) {
                    inputs[i].classList.remove('blog-crucial-hidden');
                }
                if (textareas[i].classList.contains('blog-' + lang)) {
                    textareas[i].classList.remove('blog-crucial-hidden');
                }
            }
        }
    });
</script>