@using Floreview.Resources
@model Floreview.ViewModels.IndexVM

<header>
    <nav>
        <ul class="content-container">
            <li>
                @Html.ActionLink(Global.Menu_Home, "Index", "Home")
            </li>
            <li>
                @Html.ActionLink(Global.Menu_Blog, "Index", "Blog")
            </li>
            <li>
                @Html.ActionLink(Global.Menu_Floreview, "Index", "Home")
            </li>
            <li>
                @Html.ActionLink(Global.Menu_Contact, "Index", "Home")
            </li>
            <li>
                @Html.Partial("_LoginPartial")
            </li>
        </ul>
    </nav>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <section class="menu-admin">
            <ul class="content-container">
                <li>
                    @Html.ActionLink(Global.Menu_Admin_Stores, "Store", "Manage")
                </li>
                <li>
                    @Html.ActionLink(Global.Menu_Admin_Blogs, "Blog", "Manage")
                </li>
            </ul>
        </section>
    }

    <section class="home-search-container">
        <h1>@Global.Home_Search_Title</h1>

        @using (Html.BeginForm("Index", "Search", FormMethod.Post))
        {
            <input type="text" id="home-search-name" name="name" placeholder="@Global.Home_Search_Name_Placeholder" autocomplete="off" />

            <input type="text" id="home-search-city" name="city" placeholder="@Global.Home_Search_City_Placeholder" list="list-home-search-cities" autocomplete="off" />

            <input type="submit" id="home-search-submit" value="@Global.Home_Search_Submit" />
        }

        <datalist id="list-home-search-cities">
            <select>
                <option id="-1" value="--prefill--"></option>
            </select>
        </datalist>
    </section>
</header>

@if (Model.LatestBlogs.Count > 0)
{
    <section class="home-promotion-blogs">
        <h2>@Global.Home_Blog_Promotion_Title</h2>

        @foreach (var item in Model.LatestBlogs)
        {
            <article>
                <img src="@item.Avatar" alt="@item.TitleNL" />
                <a href="/Blog/Detail?blog=@item.ID" title="@item.TitleNL">@item.TitleNL</a>
                <p>
                    <span>@Global.Home_Blog_Promotion_Datetime</span> @item.PublishDate.ToString("dd").@item.PublishDate.ToString("MM").@item.PublishDate.Year <span>|</span>  <a href="/Blog/Index?c=@item.Category.ID">@item.Category.Name</a>
                </p>
                <p>
                    <span>@Global.Home_Blog_Promotion_Author</span> <a href="/Blog/Index?a=@item.Author.AccessCode">@item.Author.FirstName @item.Author.LastName</a>
                </p>
            </article>
        }
    </section>
}

<article class="home-promotion-about">
    <h2>Floreview</h2>
    <p>
        Paleo photo booth cred messenger bag jean shorts. Laboris post-ironic vero sint drinking vinegar farm-to-table. Forage salvia mustache hella chambray, leggings single-origin coffee ethnic keffiyeh sartorial mlkshk commodo yr try-hard meggings. Skateboard flexitarian brunch leggings.
    </p>
</article>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        document.getElementById('list-home-search-cities').innerHTML = null;

        document.getElementById('home-search-city').addEventListener('input', function () {
            loadCities(this.value);
        });
    });

    function loadCities(name) {
        if (name.length < 3) {
            document.getElementById('list-home-search-cities').innerHTML = null;
        }
        else if (name.length == 3) {
            var request = new XMLHttpRequest();
            request.onreadystatechange = function () {
                if (request.readyState == 4 && request.status == 200) {
                    insertCitiesIntoDatalist(JSON.parse(request.responseText));
                }
            };
            request.open("GET", "/api/cities?city=" + name, true);
            request.send();
        }
    }

    function insertCitiesIntoDatalist(arr) {
        var output = "";
        for (var i = 0; i < arr.length; i++) {
            output += "<option id='" + arr[i].ID + "' value='" + arr[i].City + "'></option>";
        }
        document.getElementById('list-home-search-cities').innerHTML = output;
    }
</script>