@using Floreview.Resources
@model Floreview.ViewModels.LoginViewModel

@{
    var className = "small";
    if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        className = "admin";
    }
}

<header class="@className">
    <nav>
        <ul class="content-container">
            <li>
                @Html.ActionLink(Global.Menu_Home, "Index", "Home")
            </li>
            <li>
                @Html.ActionLink(Global.Menu_Blog, "Index", "Blog")
            </li>
            <li>
                @Html.ActionLink(Global.Menu_Floreview, "Index", "Home")
            </li>
            <li>
                @Html.ActionLink(Global.Menu_Contact, "Index", "Home")
            </li>
            <li>
                @Html.Partial("_LoginPartial")
            </li>
        </ul>
    </nav>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <section class="menu-admin">
            <ul class="content-container">
                <li>
                    @Html.ActionLink(Global.Menu_Admin_Stores, "Store", "Manage")
                </li>
                <li>
                    @Html.ActionLink(Global.Menu_Admin_Blogs, "Blog", "Manage")
                </li>
                <li>
                    @Html.ActionLink(Global.Menu_Admin_BlogCategory, "BlogCategory", "Manage")
                </li>
            </ul>
        </section>
    }
</header>

<section class="login">
    <h2>@Global.Login_Title</h2>

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationMessage("LoginError")

        @Html.TextBoxFor(model => model.UserName, new { @placeholder = Global.Login_Username_Placeholder, @autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.UserName)

        @Html.PasswordFor(model => model.Password, new { @placeholder = Global.Login_Password_Placeholder, @autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.Password)
        
        <input type="submit" value="@Global.Login_Submit" />
    }
</section>